[mysqld]
server_id={{ 1000 | random(seed=inventory_hostname) }}
report-host=hcm-mariadb-{{ inventory_hostname_short }}
report-port={{ mysql_cluster_port }}
bind-address = 0.0.0.0
replicate_do_db=keystone
default_storage_engine=InnoDB
innodb_file_per_table
collation-server = utf8_general_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8

binlog_format=ROW
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1

#Readonly DB
read-only=1

# skip host cache with client info
skip-host-cache

# disable DNS host name lookups
skip-name-resolve

# GTID & binlog for master/slave replication
gtid_domain_id=1
log_bin=binlog
log_bin_index=binlog.index
log_slave_updates=1
expire_logs_days=7
slave_net_timeout=60
basedir=/usr
datadir=/var/lib/mysql
