#!/bin/bash

echo " ##### Check Mariadb Cluster status ##### "
mysql -uroot  -e "SHOW STATUS LIKE 'wsrep_cluster_size'"

echo " ##### Check RabbitMQ Cluster status ##### "
sudo rabbitmqctl cluster_status

echo " ##### Check Pcs status ##### "
pcs status


source /root/admin-openrc
echo " ##### Check Keystone ##### "
openstack domain list
openstack service list
openstack token issue


echo " ##### Check Nova ##### "

openstack compute service list

echo " ##### Check Neutron ##### "

openstack network agent list

