---
- name: Update packages for Servers
  yum:
     name: '*'
     state: latest

- name: Enable the Openstack repository
  yum:
     name: "centos-release-openstack-{{ openstack_release }}"

- name: Enable the Openstack client
  yum:
     name: 'python-openstackclient'

- name: Enable the Openstack Selinux
  yum:
     name: 'openstack-selinux'
     
