---
- name: Install Tools packages
  yum:
     name: '{{ tools_packages }}'

- name: Config file /etc/yum.repos.d/epel.repo
  ini_file:
    path: /etc/yum.repos.d/epel.repo
    section: epel
    option: enabled
    value: 0
    mode: '0600'
    backup: yes

- name: Update packages for Servers
  yum:
     name: '*'
     state: latest
- name: disable firewalld
  systemd:
    name: firewalld.service
    state: stopped
    enabled: no

- name: disable networkmanager
  systemd:
    name: NetworkManager.service
    state: stopped
    enabled: no
