global
    daemon
    group  haproxy
    log  /dev/log local0
    log /dev/log    local1 notice
    maxconn  16000
    pidfile  /var/run/haproxy.pid
    stats  socket /var/lib/haproxy/stats
    tune.bufsize  32768
    tune.maxrewrite  1024
    user  haproxy

  
defaults
    log  global
    maxconn  8000
    mode  http
    option  redispatch
    option  http-server-close
    option  splice-auto
    retries  3
    timeout  http-request 20s
    timeout  queue 1m
    timeout  connect 10s
    timeout  client 1m
    timeout  server 1m
    timeout  check 10s

listen stats
    bind {{ IP_VIP }}:8080
    mode http
    stats enable
    stats uri /stats
    stats realm HAProxy\ Statistics
    stats refresh 10s
    stats show-node
    stats show-legends
    stats hide-version

listen mysqld 
    bind {{ IP_VIP }}:3306 
    balance  leastconn
    mode  tcp
    option  httpchk
    option  tcplog
    option  clitcpka
    option  srvtcpka
    timeout client  28801s
    timeout server  28801s    
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:3306 check port 9200 inter 5s fastinter 2s rise 3 fall 3 
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:3306 check port 9200 inter 5s fastinter 2s rise 3 fall 3 backup
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:3306 check port 9200 inter 5s fastinter 2s rise 3 fall 3 backup

#{% if enable_multisite | bool %}
#listen mysqld-container
#    bind {{ IP_VIP }}:3305
#    mode tcp
#    balance source
#    option httplog
#    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:3305 check
#    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:3305 check
#    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:3305 check
#{% endif %}

listen keystone-{{ keystone_port }}
    bind {{ IP_VIP }}:{{ keystone_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
    option  httpchk GET /v3
{%- endif %}

    option  httplog
    option  httpclose
    balance source
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ keystone_port }}  check inter 5s fastinter 2s downinter 2s rise 3 fall 3
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ keystone_port }}  check inter 5s fastinter 2s downinter 2s rise 3 fall 3
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ keystone_port }}  check inter 5s fastinter 2s downinter 2s rise 3 fall 3


listen glance-api
    bind {{ IP_VIP }}:{{ glance_api_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
    option  httpchk /healthcheck
{%- endif %}

    option  httplog
    option  httpclose
    timeout server  11m
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ glance_api_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ glance_api_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ glance_api_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3


listen placement_api
    bind {{ IP_VIP }}:{{ placement_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
{%- endif %}

    mode http
    option httplog
    option forwardfor
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ placement_port }} check inter 2000 rise 2 fall 5
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ placement_port }} check inter 2000 rise 2 fall 5
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ placement_port }} check inter 2000 rise 2 fall 5



listen nova-api-{{ nova_api_port }}
    bind {{ IP_VIP }}:{{ nova_api_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
{%- endif %}

    option  httpchk
    option  httplog
    option  httpclose
    timeout server  600s
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ nova_api_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ nova_api_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ nova_api_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3

listen nova-metadata-api
    bind {{ IP_VIP }}:{{ nova_metadata_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
{%- endif %}

    option  httpchk
    option  httplog
    option  httpclose
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ nova_metadata_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ nova_metadata_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ nova_metadata_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3

listen nova-novncproxy
    bind {{ IP_VIP }}:6080 {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
{%- endif %}

    option  httplog
    balance source
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:6080  check 
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:6080  check 
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:6080  check 




listen neutron
    bind {{ IP_VIP }}:{{ neutron_server_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
{%- endif %}

    option  httpchk
    option  httplog
    option  httpclose
    balance source
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ neutron_server_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ neutron_server_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ neutron_server_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3

{% if enable_cinder | bool %}
listen cinder-api
    bind {{ IP_VIP }}:{{ cinder_api_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
#    reqadd X-Forwarded-Proto:\ https
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    http-request del-header X-Forwarded-Proto
{%- endif %}

    mode http
    option httplog
    option forwardfor
#    option  httpchk
#    option  httplog
#    option  httpclose
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ cinder_api_port }} check inter 2000 rise 2 fall 5
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ cinder_api_port }} check inter 2000 rise 2 fall 5
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ cinder_api_port }} check inter 2000 rise 2 fall 5
{% endif %}

{% if enable_heat | bool %}
listen heat-api
    bind {{ IP_VIP }}:{{ heat_api_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
{%- endif %}

    option  httpchk
    option  httplog
    option  httpclose
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ heat_api_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ heat_api_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ heat_api_port }}  check inter 5s fastinter 2s downinter 3s rise 3 fall 3

listen heat-cfn-api
    bind {{ IP_VIP }}:{{ heat_api_cfn_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
{%- endif %}

    option  httpchk
    option  httplog
    option  httpclose
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ heat_api_cfn_port }} check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ heat_api_cfn_port }} check inter 5s fastinter 2s downinter 3s rise 3 fall 3
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ heat_api_cfn_port }} check inter 5s fastinter 2s downinter 3s rise 3 fall 3
{% endif %}

{% if enable_barbican | bool %}
listen barbican-api
    bind {{ IP_VIP }}:{{ barbican_api_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
{%- endif %}

    option  httpchk
    option  httplog
    option  httpclose
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ barbican_api_port }} check inter 10s fastinter 2s downinter 3s rise 3 fall 3 
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ barbican_api_port }} backup check inter 10s fastinter 2s downinter 3s rise 3 fall 3 
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ barbican_api_port }} backup check inter 10s fastinter 2s downinter 3s rise 3 fall 3 
{% endif %}


{% if enable_octavia | bool %}
listen octavia-api
    bind {{ IP_VIP }}:{{ octavia_api_port }} {% if enable_ssl | bool %}ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    reqadd X-Forwarded-Proto:\ https
{%- endif %}

    option  httpchk
    option  httplog
    option  httpclose
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ octavia_api_port }} check inter 5s fastinter 2s downinter 3s rise 3 fall 3 
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ octavia_api_port }} check inter 5s fastinter 2s downinter 3s rise 3 fall 3 
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:{{ octavia_api_port }} check inter 5s fastinter 2s downinter 3s rise 3 fall 3 
{% endif %}



listen horizon-80
    bind {{ IP_VIP }}:80
{% if enable_ssl | bool %}
    mode http
    redirect scheme https code 301 if !{ ssl_fc }
{% else %}
    balance  source
    mode  http
    option  forwardfor
    option  httpchk
    option  httpclose
    option  httplog
    stick  on src
    stick-table  type ip size 200k expire 30m
    timeout  client 3h
    timeout  server 3h
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:80  weight 1 check
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:80  weight 1 check
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:80  weight 1 check
{% endif %}  

{% if enable_ssl | bool %}
listen horizon
    bind {{ IP_VIP }}:443 ssl crt /etc/ssl/private/{{ cafile_name }}.pem
    mode http
    http-request del-header X-Forwarded-Proto
    balance source
    option httplog
    option forwardfor
#    reqadd X-Forwarded-Proto:\ https
#    balance  source
#    capture  cookie vgnvisitor= len 32
#    cookie  SERVERID insert indirect nocache
#    mode  http
#    option  forwardfor
#    option  httpchk
#    option  httpclose
#    option  httplog
#    rspidel  ^Set-cookie:\ IP=
#    timeout  client 3h
#    timeout  server 3h
    server {{ hostvars[groups['controller'][0]]['inventory_hostname'] }} {{ hostvars[groups['controller'][0]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:80  check inter 2000 fall 3
    server {{ hostvars[groups['controller'][1]]['inventory_hostname'] }} {{ hostvars[groups['controller'][1]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:80  check inter 2000 fall 3
    server {{ hostvars[groups['controller'][2]]['inventory_hostname'] }} {{ hostvars[groups['controller'][2]]['ansible_' + MGNT_IF]['ipv4']['address'] }}:80  check inter 2000 fall 3
{% endif %}  
