[DEFAULT]
log_dir = /var/log/octavia
debug = True
transport_url = rabbit://{%- for item in groups['controller'] %}openstack:{{ rabbitmq_pass }}@{{  hostvars[item]['ansible_' + management_interface]['ipv4']['address'] }}:{{ rabbitmq_port }}{% if not loop.last %},{% endif %}{% endfor %}

[api_settings]
api_base_uri = {{ keystone_protocol }}://{{ ip_vip_address }}:{{ octavia_api_port }}
bind_host = {{ management_ip_address }}
bind_port = {{ octavia_api_port }}
auth_strategy = keystone
healthcheck_enabled = True
allow_tls_terminated_listeners = True

[database]
connection = mysql+pymysql://octavia:{{ octaviadb_pass }}@{{ ip_vip_address }}/octavia
max_retries = -1

[health_manager]
bind_port = 5555
bind_ip = {{ management_ip_address }}
#bind_ip = 0.0.0.0
controller_ip_port_list = {% for item in groups['controller'] %}{{  hostvars[item]['ansible_' + management_interface]['ipv4']['address'] }}:5555{% if not loop.last %}, {% endif %}{% endfor %}

heartbeat_key = insecure

[keystone_authtoken]
service_token_roles_required = True
www_authenticate_uri = {{ keystone_protocol }}://{{ ip_vip_address }}:{{ keystone_port }}
auth_url = {{ keystone_protocol }}://{{ ip_vip_address }}:{{ keystone_port }}
region_name = {{ region_name }}
memcached_servers = {% for item in groups['controller'] %}{{  hostvars[item]['ansible_' + management_interface]['ipv4']['address'] }}:{{ memcache_port }}{% if not loop.last %},{% endif %}{% endfor %}

auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = octavia
password = {{ octavia_pass }}
cafile = {{ openstack_cacert }}
insecure = {% if enable_insecure | bool %}True{% else %}false{% endif %}

[certificates]
cert_generator = local_cert_generator
#server_certs_key_passphrase = insecure-key-do-not-use-this-key
ca_private_key_passphrase = {{ octavia_pass }}
ca_private_key = /etc/octavia/certs/server_ca.key.pem
ca_certificate = /etc/octavia/certs/server_ca.cert.pem
{% if enable_barbican | bool %}
region_name = {{ region_name }}
ca_certificates_file = {{ openstack_cacert }}
endpoint_type = internal
{% endif %}

[networking]
#allow_vip_network_id = True
#allow_vip_subnet_id = True
#allow_vip_port_id = True

[haproxy_amphora]
#bind_port = 9443
server_ca = /etc/octavia/certs/server_ca.cert.pem
client_cert = /etc/octavia/certs/client.cert-and-key.pem
base_path = /var/lib/octavia
base_cert_dir = /var/lib/octavia/certs
connection_max_retries = 1500
connection_retry_interval = 1

[controller_worker]
amp_image_tag = amphora
amp_ssh_key_name = octavia
amp_secgroup_list = {{ id_lb_sec_group }} 
amp_boot_network_list = {{ id_provider_network }}

amp_flavor_id = 200
network_driver = allowed_address_pairs_driver
compute_driver = compute_nova_driver
amphora_driver = amphora_haproxy_rest_driver
client_ca = /etc/octavia/certs/client_ca.cert.pem
loadbalancer_topology = ACTIVE_STANDBY
amp_active_retries = 9999

[task_flow]
[oslo_messaging]
topic = octavia_prov
rpc_thread_pool_size = 2

[house_keeping]
[amphora_agent]
[keepalived_vrrp]

[service_auth]
auth_url = {{ keystone_protocol }}://{{ ip_vip_address }}:{{ keystone_port }}
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = admin
username = admin
password = {{ admin_pass }}
cafile = {{ openstack_cacert }}
region_name = {{ region_name }}
memcached_servers = {% for item in groups['controller'] %}{{  hostvars[item]['ansible_' + management_interface]['ipv4']['address'] }}:{{ memcache_port }}{% if not loop.last %},{% endif %}{% endfor %}

insecure = {% if enable_insecure | bool %}True{% else %}false{% endif %}

[glance]
ca_certificates_file = {{ openstack_cacert }}
region_name = {{ region_name }}
endpoint_type = internal

[neutron]
ca_certificates_file = {{ openstack_cacert }}
region_name = {{ region_name }}
endpoint_type = internal

[cinder]
ca_certificates_file = {{ openstack_cacert }}
region_name = {{ region_name }}
endpoint_type = internal

[nova]
ca_certificates_file = {{ openstack_cacert }}
region_name = {{ region_name }}
endpoint_type = internal

[oslo_policy]
#policy_file = /etc/octavia/policy.json

[oslo_messaging_notifications]
transport_url = rabbit://{%- for item in groups['controller'] %}openstack:{{ rabbitmq_pass }}@{{  hostvars[item]['ansible_' + management_interface]['ipv4']['address'] }}:{{ rabbitmq_port }}{% if not loop.last %},{% endif %}{% endfor %}


