[DEFAULT]


[ml2]
type_drivers = flat,vlan,vxlan,gre
tenant_network_types = vxlan,gre,vlan
mechanism_drivers = openvswitch,l2population
extension_drivers = port_security,qos
path_mtu = 1500


[ml2_type_flat]
flat_networks = physnet1


[ml2_type_vlan]
{% if enable_neutron_vlan | bool %}
network_vlan_ranges = vlannet:200:500
{% else %}
network_vlan_ranges = physnet1
{% endif %}


[ml2_type_vxlan]
vni_ranges = 4000:8000


[ml2_type_gre]
tunnel_id_ranges = 2000:4000


[securitygroup]
enable_ipset = true
firewall_driver = openvswitch
