[DEFAULT]


[ml2]
type_drivers = flat,vlan,vxlan,gre
tenant_network_types = vxlan,gre
mechanism_drivers = openvswitch,l2population
extension_drivers = port_security,qos
path_mtu = 1550


[ml2_type_flat]
flat_networks = {{ provider_physical_network }}


[ml2_type_vlan]
{% if enable_neutron_vlan | bool %}
network_vlan_ranges = vlannet:200:500
{% else %}
network_vlan_ranges = {{ provider_physical_network }}
{% endif %}


[ml2_type_vxlan]
vni_ranges = 4000:8000


[ml2_type_gre]
tunnel_id_ranges = 2000:4000


[securitygroup]
enable_ipset = true
firewall_driver = openvswitch

{% if enable_neutron_fwaas | bool %}
[agent]
extensions = fwaas_v2

[fwaas]
firewall_l2_driver = noop
{% endif %}