[mysqld]
log-bin=mysql-bin
query_cache_size=0
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
innodb_file_per_table
innodb_flush_log_at_trx_commit=2
query_cache_type=0
bind-address={{ MGNT_IP }}
 
max_connections = 102400
max_allowed_packet  = 16M
#innodb_buffer_pool_size=122M


# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_provider_options="gmcast.listen_addr=tcp://{{ MGNT_IP }}:4567"
#wsrep_provider_options="gcache.size=32G"
#wsrep_provider_options="pc.recovery=TRUE;gcache.size=300M"

# Galera Cluster Configuration
wsrep_cluster_name="openstack"
wsrep_cluster_address="gcomm://{%- for item in groups['controller'] %}{{  hostvars[item]['ansible_' + MGNT_IF]['ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}"
# Galera Synchronization Congifuration
wsrep_sst_method=rsync
#wsrep_sst_auth=user:pass

# Galera Node Configuration
wsrep_node_address="{{ MGNT_IP  }}"
wsrep_node_name="{{ inventory_hostname }}"
