[server]
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mariadb/mariadb.log
pid-file=/run/mariadb/mariadb.pid
gtid_domain_id=1
server-id={{ 600 | random(seed=inventory_hostname) }}
log_slave_updates=1
log_bin=binlog
log_bin_index=binlog.index
report-port={{ mysql_cluster_port }}
report-host={{ management_ip_address }}
[galera]
[embedded]
[mariadb]
[mariadb-10.3]