<html>
<head>
<META HTTP-EQUIV="Refresh" Content="0.5; URL={{ keystone_protocol }}://{{ IP_VIP }}/dashboard">
</head>
<body>
<center> <h1>Redirecting to OpenStack Dashboard</h1> </center>
</body>
</html>