---
ops_train_packages:
     - centos-release-openstack-train
     - python-openstackclient
     - openstack-selinux
  
sysctl_config:
     - net.ipv4.ip_nonlocal_bind: 1
     - net.ipv4.tcp_keepalive_time: 3
     - net.ipv4.tcp_keepalive_intvl: 30
     - net.ipv4.tcp_keepalive_probes: 8

tools_packages:
     - epel-release
     - crudini
